body{
    background: #062441;
}

header h2{
    text-align: center;
    color: #7db1e2;
}

.menu{
    display: inline;
    width: min-content;
    margin: auto;
    text-align: center;
}
  
.menu input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: white;
    border: 0;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
 }
.menu button{
    text-transform: uppercase;
    outline: 0;
    background: white;
    width: 230px;
    border:0;
    padding: 10px;
    color: #71bbff;
    cursor: pointer;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #062441;
    border: 1px solid #71bbff;
  }
  /*  index */


.menu button:hover, .menu button:active{
    background:#7bbbff;
    color: rgb(255, 255, 255);
  }

.menu h1,.menu h2, .menu h3{
      color: white;
      font-family: "Segoe UI",Arial,sans-serif;
}