
#publications {
    margin-top: 20px;
    padding-bottom: 30px;
    font-family:verdana;
}

.annonce {
    display: inline-block;
    background-color: white;
    width: 60%;
    margin-left: 30px;
    margin-top: 30px;
    border-width: 1px;
    padding: 10px;
    position:relative;
    border-radius: 8px;
    border: 1px solid rgb(75, 212, 253);
    border-image: none;
    line-height: 20px;
    box-shadow: 0px 0px 0px 1px #0895ad;
    font-family: "Segoe UI",Arial,sans-serif;
}

.annonceTexte {
    display: inline;
}
