#text button{
    background-color: #63c2fd;
    border: 1px solid #64c3ff;
    border-radius: 13px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    line-height: 24px;
    padding: 9px 9px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 92px;
    margin-left: 30px;
   }
#text{
    display: inline-block;
   background:#daecfd;
   padding:10px 12px;
   position:relative;
   border-radius: 8px;
   border: 1px solid rgb(75, 212, 253);
   border-image: none;
   line-height: 20px;
   box-shadow: 0px 0px 0px 1px #99f0ff;
   background-color: rgb(255, 255, 255);
   font-family: "Segoe UI",Arial,sans-serif;
   padding: 30px;
   width: auto;
   margin-left: 30px;
   font-size: 18px;
}

#text label{
    margin-left: 40px;
    font-size: 18px;
}
h1{
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #a8d5ff;
    margin-left: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3, div .typePubli{
color:black;
}

#type h3{ 
    color: white;
    margin-left: 70px;
    margin-bottom: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#type label{
    color: white;
    margin-left: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}